<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="helmutsdev_theme" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>helmutsDev Theme</label>
            <tab>general</tab>
            <resource>HelmutsDev_ThemeConfig::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Theme Configuration</label>
                <field id="active_theme" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Active Theme</label>
                    <source_model>HelmutsDev\ThemeConfig\Model\Config\Source\Theme</source_model>
                    <comment>Select which Obsidian theme to use for the storefront.</comment>
                </field>
            </group>
        </section>
    </system>
</config>