<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <helmutsdev_theme>
            <general>
                <active_theme>dark</active_theme>
            </general>
        </helmutsdev_theme>
    </default>
</config>